body {
  text-align: center;
  font-family: helvetica;
}

.Title {
  color: white;
  background-image: url("../Images/the-flatiron-building.png");
  }

  .nav, #Home {
    font-size: 18px;
    color: white;
  }

  h2 {
    font-size: 32px;
    font-weight: bold;
  }


  h3 {
    font-size: 23px;
    font-weight: bold;
  }

  p {
    font-size: 14px;
  }

  .footer {
    font-size: 11px;
    color; white;
    background-color: dimgray;
    text-align:left;
  }
